<div class="card" style="width: 18rem;">
  <div class="form">
    <div class="container">

      <div class="row">
        <input type="text" name="" placeholder="" class="textbox">
        <label class="form-label">Email</label>
      </div>
    </div>
  </div>

  <div class="forms">
    <div class="container">
      <div class="row">
        <input type="text1" name="" placeholder="" class="textbox1">
        <label class="form-label1">password</label>
      </div>
      <div class="password">
     <a href="https:www.signup.com">forgotpassword</a>
      </div>
      <div>
        <button class="button"><a href="https:www.login.com">Login</a></button>
      </div>
    </div>
  </div>
   <div class="signup">
        <span>Don't have an account yet! <a href="https:www.sign up .com">Sign up</a></span> 
   </div>
   <div class="with">
    <span>OR</span>
    </div>
    <div class="log">
    <span>Login With</span>
   </div>
      

  
     <div >
      <button class="buttons"><a href="https:www.facebook.com" style="color: white;"> F facebook</a></button>
     </div>
     <div>
      <button class="google"><a href="https:www.google.com" style="color: black;">G Google</a></button>
     </div>
   
</div>
