img{
    position: absolute;
    height: 98%;
    width: 50%;
}
.active{
    position:absolute ;
    left: 60%;
    top: 20%;
    
}
.contain{
   
    position:absolute ;
    left: 60%;
    top: 40%;
    
}